$font-montserrat-path: "@/assets/fonts/font-montserrat/";
$font-open-sans-path: "@/assets/fonts/font-open-sans/";

//montserrat
@font-face {
  font-family: "Montserrat";
  src: url(#{$font-montserrat-path}Montserrat-Thin.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url(#{$font-montserrat-path}Montserrat-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url(#{$font-montserrat-path}Montserrat-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

//open sans
@font-face {
  font-family: "Open Sans";
  src: url(#{$font-open-sans-path}OpenSans-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(#{$font-open-sans-path}OpenSans-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(#{$font-open-sans-path}OpenSans-Bold.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(#{$font-open-sans-path}OpenSans-Medium.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(#{$font-open-sans-path}OpenSans-ExtraBold.ttf) format("truetype");
  font-weight: 800;
  font-style: normal;
}
