$font-montserrat-path: "@/assets/fonts/font-montserrat/";
$font-open-sans-path: "@/assets/fonts/font-open-sans/";

//montserrat
@font-face {
  font-family: "Montserrat";
  src: url(#{$font-montserrat-path}Montserrat-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

//open sans
@font-face {
  font-family: "Open Sans";
  src: url(#{$font-open-sans-path}OpenSans-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
