$purple: #6733e2;
$purple-2: #b2a4ff;
$white: #ffffff;
$yellow: #f8dd28;
$grey: #808080;

$font-family-montserrat: "Montserrat", sans-serif;
$font-family-open-sans: "Open Sans", sans-serif;

// Media Queries Breakpoints
$xs: 320px;
$sm: 480px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1500px;

// Media Queries Personalizadas
$extra-extra-large-device: "(min-width: 2561px)"; // telas grandes >2561px
$large_device: "(min-width: #{$xl}) and (max-width: #{$xxl})"; // desktop 1200-1500px

$mid_device: "(min-width: #{$lg}) and (max-width: #{$xl})"; // desktop normal 992-1200px
$tablet_device: "(min-width: #{$md}) and (max-width: #{$lg})"; // tablet 768-992px

$non_mobile_device: "(min-width: #{$md})"; // dispositivos maiores que 768px
$mobile_device: "(max-width: #{$md})"; // dispositivos móveis até 768px

$large_mobile: "only screen and (min-width: #{$sm}) and (max-width: #{$md})"; // celulares maiores, 480-768px
