@use "../abstract/variables";

.our-team {
  background-color: variables.$purple;
  padding: 3%;
  font-family: variables.$font-family-montserrat;
}

.our-team-title {
  font-size: 3.4375rem;
  line-height: 1.1;
  color: variables.$yellow;
}

.our-team-paragraph {
  font-size: 1.5rem;
  width: 664px;
  font-family: variables.$font-family-open-sans;
  color: variables.$white;
}
